:root {
  --dark_green_blue: #137775;
  --purple: #5358aca8;
  --lime_green: #06f390c7;
  --sky_blue: #1877db80;
  --red: #f44336;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.body {
  background-color: #f7f7fc;
}

h1 {
  font-size: 60px;
  text-align: center;

}

h2 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 10px;
  color: #000000;
}

/*------header----*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://www.binghamton.edu/parents/img/hi-res/glossaryheader.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
  border-radius: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.9s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
padding-top: 20px;
  padding-bottom: 30px;
}

.text-box p {
  margin: 10px 0px 40px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  padding-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 100px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  letter-spacing: 9px;
  font-weight: bold;
  background: #cccccc1a; 
}

.hero-btn:hover {
  border: 1px solid #13777548; 
  background: #1377759f; 
  transition: 0.5s;
}

/*-----home page:course------*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 3px;
  font-size: 25px;
  color: #000000;
  letter-spacing: 8px;
}

.course-col p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 3200;
  line-height: 30px;
  padding: 10px;
  letter-spacing: 2px;
}

span {
  font-size: 15px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: var(--purple);
  border-radius: 15%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px var(--purple);
}

/*-----home page:campus------*/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: var(--sky_blue);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*-----home page:facilities------*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 0px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
  color: #000000;
  letter-spacing: 7px;
  text-decoration: underline;
}

/*-----home page:student reviews------*/
.review {
  width: 80%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.review-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: var(--purple);
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.review-col img {
  height: 100px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%
}

.review-col h3 {
  margin-top: 15px;
  text-align: left;
  color: #000000;
  font-size: 15px;
}

.review-col p {
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}

/*-----home page:call to action------*/
.cta {
  margin: 50px auto;
  width: 80%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLhJeyFHF0i-Aho2wN5Sreui9m-wkfM5D8pQ&usqp=CAU);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h3 {
  color: #ffffff;
  margin-bottom: 40px;
  padding: 0;
  font-size: 30px;
}

/*-----about page------*/
.about-us {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  border: 1px solid var(--red);
  background: transparent;
  color: var(--red);
}

.red-btn:hover {
  color: #fff;
}

/*-----course page:facilities------*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*------contact us page----*/
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div fa {
  font-size: 28px;
  color: var(--red);
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

/*-----footer------*/
.footer {
  text-align: right;
  padding: 10px 0;
  background-color: var(--purple);
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.footer img {
  width: 80px;
  border-radius: 150px;
  margin-left: 20px;
  cursor: pointer;
}

.footer h4 {
  font-weight: 600;
  font-size: 12px;
}


.footer h5 {
  font-weight: 600;
  font-size: 10px;
  padding-right: 20px;
}

.address ul li {
  color: #000000;
  cursor: pointer;
  list-style-type: none;
}

.icons .fa {
  color: #000000;
  cursor: pointer;
}

.icons {
  font-size: 15px;
}